.project{
    height: 100vh;
    width: calc(100vw - 180px);
    justify-content: center;
    align-items: center;
    background: url(../../images/project-background-img.jpg);
    background-size: cover;
    background-position: center;
}

.project-background{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: calc(100vw - 180px);
    height: 100vh;
}

.project h1{
    padding: 50px 10px 0 10px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.projectNav{
    padding-top: 15vh;
    width: auto;
    display: flex;
    animation:  fadeinup 1s ease-in-out;
    justify-content: center;
}

.projectNav p{
    font-family: 'Noto Sans KR', sans-serif;
}

@keyframes fadeinup{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.project-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.project-container h3{
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
}

.project-container p{
    color: #ffffff;
}

.project-card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #ffffff;
    margin: 30px 10px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.project-card:hover{
    height: 400px;
}

.project .img-box{
    position: relative;
    width: 260px;
    height: 260px;
    top: -50px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.project .img-box img{
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.project-card .content-details{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.project-card:hover .content-details{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.content-details p{
    color: #000000;
}


@media(max-width:1275px){
    .project{
        height: 100%;
    }
    .project-background{
        background: rgba(0, 0, 0, 0);
    }
    .projectNav{
        flex-direction: column;
    }

    .project-card{
        flex-direction: row;
        max-width: 600px;
    }
    .project-card:hover{
        height: 215px;
    }
            
    .project .img-box{
        max-width: 400px;
    }

    .project-card .content-details{
        margin-top: 0px;
        padding: 10px 25px;
        visibility: visible;
        opacity: 1;
        max-width: 350px;
    }

    .project-card:hover .content-details{
        visibility: visible;
        margin-top: 0px;
    }
}

@media(max-width:1024px){
    
}
@media(max-width:768px){
    .project{
        padding-top: 96px;
        width: 100%;
    }
    .project h1{
        padding: 10px 50px;
    }
    .projectNav{
        padding-top: 80px;
    }

}