.project{
    margin: 20px;
    background: #fff;
}

.project section{
    display: flex;
    padding: 20px 10px 0 0;
    height: 100vh;
}

.project img{
    padding: 0 20px;
}

.project h1{
    padding: 50px 10px;
}

.project h2{
    padding: 5px 10px;
}

.project p{
    padding: 20px 10px;
}

@media(max-width:768px){
    .project section{
        flex-direction: column;
    }
    img{
        width: 80%;
    }
}