.skills{
    margin: 0 20px 20px 20px;
    background: #fff;
    height: 40vh;
}

.skills section{
    display: flex;
    justify-content: center;
}

.skills .content-skills1{
    position: relative;
    width: 100%;
    overflow: hidden;
}


.skills .section1{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.content-skills1:hover .section1{
    opacity: 1;
}

.skills .content-skills2{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.skills .section2{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.content-skills2:hover .section2{
    opacity: 1;
}

.skills h1{
    padding: 50px 10px;
}

.skills h2{
    padding: 5px 10px;
}

.skills p{
    position: absolute;
    top: 30%;
    left: 35%;
    right: 35%;
    opacity: 0;
    color: #fff;
}

.content-skills1:hover p{
    opacity: 1;
}
.content-skills2:hover p{
    opacity: 1;
}

.skills img{
    width: 50px;
}
@media(max-width:768px){
    .skills{
        height: auto;
    }
    .skills section{
        padding: 10px;
    }

    .skills .icon{
        padding-bottom: 50px;
    }

    .skills p{
        font-size: 70%;
    }

}
