.skills{
    margin: 0 20px 20px 20px;
    background: #fff;
    height: 100vh;
}

.skills section{
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
}

.skills h1{
    padding: 50px 10px;
}

.skills h2{
    padding: 5px 10px;
}

.skills p{
    padding: 5px 10px;
}

@media(max-width:768px){
    .skills section{
        padding: 10px;
    }

    .skills .icon{
        padding-bottom: 50px;
    }
}