.skills{
    background: url(../../images/skills-background-img.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.skills-background{
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.skills section{
    border: 1px solid yellow;
}

.mainly-overlay{
    background: rgba(0, 0, 0, 1);
    border: 1px solid red;
    position: absolute;
    width: 88vw;
    height: 12vh;
    opacity: 0;
}

.skills .content-mainly{
    position: relative;
    overflow: hidden;
    height: 20vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
}

.skills .mainly-details{
    position: absolute;
    width: 88vw;
    height: 12vh;
    color: #ffffff;
    opacity: 0;
    /* transition: 1.5s; */
}

.content-mainly:hover .mainly-overlay{
    opacity: 1;
}

.content-mainly:hover .mainly-details{
    opacity: 1;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.mainly-details p{
    opacity: 1;
    color: #fff;
}
/* //// */

.know-overlay{
    background: rgba(0, 0, 0, 1);
    border: 1px solid red;
    position: absolute;
    width: 88vw;
    height: 12vh;
    opacity: 0;
}

.skills .content-know{
    position: relative;
    overflow: hidden;
    height: 20vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
}

.skills .know-details{
    position: absolute;
    width: 88vw;
    height: 12vh;
    color: #ffffff;
    opacity: 0;
    /* transition: 1.5s; */
}

.content-know:hover .know-overlay{
    opacity: 1;
}

.content-know:hover .know-details{
    opacity: 1;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.known-details p{
    color: #fff;
}


/* //// */

.interest-overlay{
    background: rgba(0, 0, 0, 1);
    border: 1px solid red;
    position: absolute;
    width: 88vw;
    height: 12vh;
    opacity: 0;
}

.skills .content-interest{
    position: relative;
    overflow: hidden;
    height: 20vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
}

.skills .interest-details{
    position: absolute;
    width: 88vw;
    height: 12vh;
    color: #ffffff;
    opacity: 0;
    /* transition: 1.5s; */
}

.interest-details ul li{
    list-style: none;
}

.content-interest:hover .interest-overlay{
    opacity: 1;
}

.content-interest:hover .interest-details{
    opacity: 1;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.interest-details p{
    color: #fff;
}


.skills h1{
    padding: 50px 10px;
    color: #ffffff;
    padding-bottom: 30px;
}

.skills h2{
    color: #fff;
}


.skills img{
    background: #ffffff;
    width: 50px;
}
@media(max-width:768px){
    .skills{
        height: auto;
    }
    .skills section{
        padding: 10px;
    }

    .skills .icon{
        padding-bottom: 50px;
    }

    .skills p{
        font-size: 70%;
    }

}
