.home{
    height: 100vh;
    display: flex;
    background: url(../../images/img.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
}
.profile{
    width: calc(100vw - 180px);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    padding-top: 20vh;
}
.profile h1{
    color: #ffffff;
    font-size: 3em;
    padding-bottom: 40px;
}
.profile p{
    color: #ffffff;
    font-size: 2em;
}
.profile p span{
    font-weight: bold;
    font-size: 1.5em;
}

.bottomline{
    border-top: 3px solid #999999;
    position: absolute;
    width: calc(100vw - 180px);
    bottom: 8vh;
}

.rightline{
    border-left: 3px solid #999999;
    position: absolute;
    height: 100vh;
    right: 5vw;
}

.stage{
    position: absolute;
    margin-top: 60vh;
    margin-left: 70vw; 
    /* 위치조정 */
}

@-webkit-keyframes spincube{
    from,to { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%     { -webkit-transform: rotateY(-90deg);                           }
    33%     { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%     { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%     { -webkit-transform: rotateY(-270deg) rotateZ(90deg);           }
    83%     { -webkit-transform: rotateX(90deg);                            }
}

@keyframes spincube{
    from,to { 
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%     {
        -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    33%     {
        -moz-transform: rotateY(-90deg) rotateZ(90deg);
        -ms-transform: rotateY(-90deg) rotateZ(90deg);
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%     {
        -moz-transform: rotateY(-180deg) rotateZ(90deg);
        -ms-transform: rotateY(-180deg) rotateZ(90deg);
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%     {
        -moz-transform: rotateY(-270deg) rotateX(90deg);
        -ms-transform: rotateY(-270deg) rotateX(90deg);
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83%     {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.cubespinner{
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 3em 3em 0;
    -moz-transform-origin: 3em 3em 0;
    -ms-transform-origin: 3em 3em 0;
    transform-origin: 3em 3em 0;
}

.cubespinner div{
    position: absolute;
    border: 1px solid #ffffff;
    width: 6em;
    height: 6em;
    background: rgba(240, 240, 240, 0.9);
    line-height: 200px;
    text-align: center;
    font-size: 1.5em;
}

.cubespinner .face1{
    color: #5f9ea0;
    -webkit-transform: translateZ(3em);
    -moz-transform: translateZ(3em);
    -ms-transform: translateZ(3em);
    transform: translateZ(3em);
}
.cubespinner .face2{
    color: #228b22;
    -webkit-transform: rotateY(90deg) translateZ(3em);
    -moz-transform: rotateY(90deg) translateZ(3em);
    -ms-transform: rotateY(90deg) translateZ(3em);
    transform: rotateY(90deg) translateZ(3em);
}
.cubespinner .face3{
    color: #0000ff;
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(3em);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(3em);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(3em);
    transform: rotateY(90deg) rotateX(90deg) translateZ(3em);
}
.cubespinner .face4{
    color: #ffa600;
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(3em);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(3em);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(3em);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(3em);
}
.cubespinner .face5{
    color: #ff0000;
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(3em);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(3em);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(3em);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(3em);
}
.cubespinner .face6{
    color: #2f4f4f;
    -webkit-transform: rotateX(-90deg) translateZ(3em);
    -moz-transform: rotateX(-90deg) translateZ(3em);
    -ms-transform: rotateX(-90deg) translateZ(3em);
    transform: rotateX(-90deg) translateZ(3em);
}

@media(max-width:1220px){
    .stage{
        position: absolute;
        margin-top: 60vh;
        margin-left: 60vw; 
        /* 위치조정 */
    }
}

@media(max-width:1024px){
    .profile{
        padding: 20vh 50px;
    }
}
@media(max-width:920px){
    .stage{
        position: absolute;
        margin-top: 70vh;
        margin-left: 50vw; 
        /* 위치조정 */
    }
}
                               
@media(max-width:768px){
    .home{
        padding-top: 96px;
        height: 100vh\;
    }
    .profile{
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        align-items: center;
        padding: 12vh 50px;
    }

    .profile h1{
        font-size: 2.5em;
    }
    .profile p{
        font-size: 1.5em;
        color: #ffffff;
        padding: 0 20px;
    }

    .bottomline{
        display: none;
    }

    .rightline{
        display: none;
    }

    .stage{
        position: absolute;
        margin-top: 60vh;
        margin-left: 70vw; 
        /* 위치조정 */
    }
    .cubespinner div{
        position: absolute;
        border: 1px solid #ffffff;
        width: 5em;
        height: 5em;
        background: rgba(240, 240, 240, 0.9);
        line-height: 200px;
        text-align: center;
        font-size: 1em;
    }

    .cubespinner .face1{
        color: #5f9ea0;
        -webkit-transform: translateZ(2.5em);
        -moz-transform: translateZ(2.5em);
        -ms-transform: translateZ(2.5em);
        transform: translateZ(2.5em);
    }
    .cubespinner .face2{
        color: #228b22;
        -webkit-transform: rotateY(90deg) translateZ(2.5em);
        -moz-transform: rotateY(90deg) translateZ(2.5em);
        -ms-transform: rotateY(90deg) translateZ(2.5em);
        transform: rotateY(90deg) translateZ(2.5em);
    }
    .cubespinner .face3{
        color: #0000ff;
        -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(2.5em);
        -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(2.5em);
        -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(2.5em);
        transform: rotateY(90deg) rotateX(90deg) translateZ(2.5em);
    }
    .cubespinner .face4{
        color: #ffa600;
        -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(2.5em);
        -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(2.5em);
        -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(2.5em);
        transform: rotateY(180deg) rotateZ(90deg) translateZ(2.5em);
    }
    .cubespinner .face5{
        color: #ff0000;
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(2.5em);
        -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(2.5em);
        -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(2.5em);
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(2.5em);
    }
    .cubespinner .face6{
        color: #2f4f4f;
        -webkit-transform: rotateX(-90deg) translateZ(2.5em);
        -moz-transform: rotateX(-90deg) translateZ(2.5em);
        -ms-transform: rotateX(-90deg) translateZ(2.5em);
        transform: rotateX(-90deg) translateZ(2.5em);
    }
}
@media(max-width:425px){
    .profile{
        padding: 10vh 20px;
    }
    .profile h1{
        font-size: 1.5em;
    }
    .stage{
        position: absolute;
        margin-top: 60vh;
        margin-left: 60vw; 
        /* 위치조정 */
    }
}