.contact{
    background: url(../../images/contact-background-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.contact-overlay{
    position: absolute;
    width: calc(100vw - 180px);
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    clip-path: polygon( 100% 100%, 100% 0, 50% 0, 30% 100% );
}

.contact h1{
    padding: 50px 10px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.contact-content{
    position: relative;
    display: flex;
    flex-direction: row;
}

.contact section:nth-child(1){
    width: 50%;
    height: 50vh;
}

.contact section:nth-child(2){
    width: 500px;
    height: 50vh;
}


.contact-details h2{
    padding: 5%;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.contact-details ul{
    padding: 5%;
}

.contact-details ul li{
    list-style: none;
    color: #999999;
    letter-spacing: 3px;
    padding: 4%;
}

.contact-details ul li span{
    color: #ffffff;
}

@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media(max-width:1024px){
    .contact-overlay{
        clip-path: polygon( 100% 100%, 100% 0, 40% 0, 20% 100% );
    }
    .contact section:nth-child(1){
        width: 40%;
    }
    .contact-details ul li{
        letter-spacing: 2px;
    }

}
@media(max-width:768px){
    .contact{
        padding-top: 96px;
    }
    .contact h1{
        padding: 10px 30px;
        padding-bottom: 80px;
        font-size: 1.5em;
    }
    .contact-overlay{
        width: 100%;
        height: calc(100% - 96px);
    }
}
@media(max-width:425px){
    .contact section:nth-child(1){
        width: 0;
    }
    .contact section:nth-child(2){
        width: 100%;
    }
    .contact-details h2{
        font-size: 1em;
    }
    .contact-details ul{
        padding: 3%;
    }

    .contact-details ul li{
        font-size: 0.8em;
    }
}