.contact{
    margin: 0 20px 20px 20px;
    background: #fff;
    height: 100vh;
}

.contact h1{
    padding: 50px 10px;
}

.contact ul li{
    list-style: none;
    padding: 5px 10px;
}

@media(max-width:768px){
    
}