.contact{
    background: #fff;
    padding: 10vh 0;
    height: 80vh;
}

.contact h1{
    padding: 50px 10px;
}

.contact ul li{
    list-style: none;
    padding: 5px 10px;
}

@media(max-width:768px){
    
}