.header{
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    position: fixed;
    height: 100vh;
    width: 12vw;
}

.header a{
    text-decoration: none;
}


.header ul{
    display: flex;
    flex-direction: column;
}

.header ul li{
    display: inline-block;
    list-style: none;
}

.logo{
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
    font-weight: bold;
}

.logo a{
    position: relative;
    color: #FEFEFE;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
}



.logo a span{
    position: absolute;
    display: block;
}

.logo a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}

.logo a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.logo a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}

.logo a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.logo a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}

.logo a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.logo a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}

.logo a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ///// */
.lists{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.lists li{
    margin: 2.5em 0;
    font-weight: bold;
}

.lists li a{
    display: block;
    width: 100%;
    padding: 0.5em;
}

.lists li:nth-child(1) a{
    color: #0033FF;
}
.lists li:nth-child(2) a{
    color: #FFFF00;
}
.lists li:nth-child(3) a{
    color: #FF0000;
}
.lists li:nth-child(4) a{
    color: #00FF00;
}

.lists li a:hover{
    background: #2b2d2e;
}

.lists li .desc{
    font-weight: lighter;
    font-size: 0.7em;
    color: #fff;
    padding: 0.5em;
    overflow: hidden;
}