*{
  margin: 0;
  padding: 0;
}

.App{
  background: #d2eff7;
  overflow: hidden;
}

.portrait{
  border: 1px solid #333;
  background: url(./images/img.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.imgNote{
  background: rgba(255, 255, 255, 0.1);
  padding: 200px 100px 0 100px;
  text-align: center;
}
