.interest{
    background: #fff;
    padding: 10vh 0;
    height: 80vh;
}

.interest h1{
    padding: 50px 10px;
}

.interest h2{
    padding: 5px 10px;
}

.interest p{
    padding: 5px 10px;
}

.interest img{
    width: 30px;
}

@media(max-width:768px){
}