.interest{
    background: url(../../images/interest-background-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
}

.interest-background{
    background: rgba(0, 0, 0, 0.7);
    width: 88vw;
    height: 100vh;
}

.interest h1{
    padding: 50px 10px;
}


.interest img{
    width: 30px;
}

@media(max-width:768px){
}